/* GENERAL */
body {
	font-family: 'Oswald', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: none;
	padding: 10px;
}

h1 {
	font-size: 3em;
	margin-bottom: -20px;
}

/* HEADER */
header {
	text-align: center;
	margin: 20px 0;
	padding: 5px;
}

nav {
	text-align: center;
	font-size: 1.25em;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	margin: 10px 0;
	padding: 10px;
}

/* ABOUT */
.profile {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

/* GALLERY */
#gallery li {
	list-style: none;
}

#gallery li img {
	position: relative;
	left: -20px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/* CONTACT */
section ul {
	list-style: none;
}

/* FOOTER */
footer {
	text-align: center;
	font-size: 0.75em;
}

/* COLOURS */

header {
	background-color: #333;
}

body {
	background-color: #000;
	color: #FFF;
}

a {
	color: #FFF;
}

nav ul li {
	background-color: #666;
}

img {
	background-color: #333;
}

footer {
	color: #999;
}