/* GLOBAL */
body {
	font-family: 'Oswald', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3em;
	margin-bottom: -20px;
}

h2 {
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	text-align: center;
}

p {
	text-indent: 20px;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}



/* HEADER */
header {
	text-align: center;
	margin: 0 0 20px 0;
	padding: 5px;
}

nav {
	font-size: 1.25em;
}

nav li {
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
}

/* FRONT */
.bg img {
	display: block;
	margin: 0 auto;
}

/* ABOUT */
.profile {
	display: block;
	max-width: 200px;
	margin: 0 auto;
	border-radius: 10px;
}

/* RESUME */
section a {
	color: #999;
	text-decoration: underline;
}

.nested li {
	text-indent: 10px;
}

section a:hover {
	color: #CCC;
}

section a:active {
	color: #666;
}

/* PORTFOLIO */
.gallery li img {
	margin-top: -5px;
	width: 100%;
}



/* CONTACT */


/* FOOTER */
footer {
	text-align: center;
	padding-top: 30px;
}

/* COLOURS */

header {
	background-color: #ccc;
}

a {
	color: #000;
}

nav ul li {
	background-color: #999;
}

nav ul li:hover {
	background-color: #666;
}

nav ul li:active {
	background-color: #fff;
}

footer {
	color: #999;
}