/* GENERAL */

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: none;
}

/* HEADER */
header {
	float: left;
	margin: 0 0 30px 0;
}

#logo {
	text-align: center;
}

nav {
	text-align: center;

}

nav li {
	list-style: none;
}

/* ABOUT */
.profile {
	max-width: 150px;
}

/* COLOURS */
body {
	background-color: #000;
	color: #FFF;
}

a {
	color: ;
}