@media screen and (min-width: 480px) {

	nav ul li {
		display: inline-block;
	}

	#gallery li {
		float: left;
		width: 50%;
	}

	footer {
		clear: left;
	}
}

@media screen and (min-width: 660px) {

    header {
    	height: 150px;
    	padding: 20px;
    }

    #logo {
 		text-align: left;
    }

    #logo h1 {
    	font-size: 3em;
    	margin-bottom: -20px;
    }

    nav {
    	text-align: right;
    	position: relative;
    	top: -130px;
    }

	.first {
		margin: 0 5%;
		width: 40%;
		float: left;
	}

	.second {
		margin: 0 5%;
		width: 40%;
		float: right;
	}
}